/* 전체 선택자 - 태그 요소들의 마진과 패딩을 0으로 설정 */
{
   margin: 0; padding :0;
   box-sizing: border-box;
}

#container{
   width: 1000px;
   margin: 0 auto;

}
header{
   width: 978px; /*넓이는 생략하거나 padding 값 빼고 설정 */
   height: 100PX;
   border: 1px solid #ccc;
   padding: 10px;
   /* 넓이는 */
}
section{
   width: 600px;
   height: 600px;
   border: 1px solid #ccc;
   padding: 10px;  
   float: left;
}
aside{
   width: 300px;
   height: 600px;
   border: 1px solid #ccc;
   padding: 10px;
   float: right;
   background: #ccc;
}
footer{
   width: 978px;
   height: 100px;
   border: 1px solid #ccc;
   padding: 10px;
   clear: both;
}