*{margin:0; padding: 0;}
#container{width: 960px; margin: 0 auto;}
nav{height: 80px;}
nav ul{list-style: none; border-bottom: 2px solid #ccc; 
    padding: 20px; text-align: center;}
nav ul li{display: inline-block; margin: 10px 20px;}
nav a:link, a:visited{text-decoration: none; padding: 10px; color: #000}
nav a:hover, a:focus{background-color: #222; color: beige;}
nav a:active{background-color: rgb(165, 2, 2)} /*마우스 클릭 적용*/