*{margin: 0 auto;}
#contaiver{
   width: 1000px; margin: 0 AUTO;
}
nav{height: 100px; background-color: cyan;}
nav ul{list-style: none; text-align: right;
margin: 100PX; padding: 20px;}
nav li ul{display: inline-block; margin: 20px}

section {margin: 20px;}

nav ul li a{text-decoration: none; color: #000;}